<a href="https://colab.research.google.com/github/SergioSegura13/CyP/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numeros=[10, 5, 2, 3, 1]
print(numeros)

numeros2= list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]

In [ ]:
cosas=[12, 2, True, "Jose", 1.57, ["Pera", "Kiwi", "Uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['Pera', 'Kiwi', 'Uva']]
2
1.57
['Pera', 'Kiwi', 'Uva']
Kiwi
os
[12, 2, True, 'JOSE', 1.57, ['Pera', 'Kiwi', 'Uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)

print(numeros [3:8])
print(numeros [8:10])
print(numeros [-3:-1])
print(numeros [: : -1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numeros = [ x for x in range(50, 101)] 
print (numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
numeros= []
print(numeros)

frutas = ["Uvas", "Kiwi", "Manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("Naranja")
print(frutas)
print(copia)

colores = ["Rojo", "Azul", "Blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("Verde")
print(colores)
print(copia2)

nombres = ["Jose", "Pedro", "Karina"]
otrosnombres = ["Josue", "Diana", "Dalia"]
print(nombres)
print(otrosnombres)
nombres = nombres + otrosnombres
print(nombres)
print(otrosnombres)

otrosnombres.extend(["Jesus", "Maria", "Jose"])
print(otrosnombres)
print("Jesus esta en la posicion", otrosnombres.index("Jesus"))
otrosnombres.insert(4, "Espiritu Santo")
print(otrosnombres)

resultado= otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco', 'Verde']
['Rojo', 'Azul', 'Blanco']
['Jose', 'Pedro', 'Karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'Pedro', 'Karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Maria', 'Jose']
Jesus esta en la posicion 3
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu Santo', 'Maria', 'Jose']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu Santo', 'Maria']
Jose

## ***9/11/2021***

In [ ]:
info = ("Juan23", "dios1234", "123.232.1.12")
print(info)
print(info [1])


numeros= (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas=(info, numeros)
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])
print(cosas[0][2][-7:-11])

('Juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

In [ ]:
alumno= {"nombre" : "Jose"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre" : "Jose" , "nc":"2129229292", "edad":18 }
print("Edad del alumno=", alumno["edad"])
print(alumno["nombre"].upper())
print(alumno)

print("Alumno2:")
alumno2= dict()
alumno2["nombre"]= "jose"
print(alumno2)
alumno2["nc"]="2129229292"
alumno2["edad"]= 18
print(alumno2)
alumno2["edad"]= alumno2["edad"] +1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno= 18
JOSE
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
Alumno2:
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = { "id":"CT2121" ,
            "nombre" : {
                "nombres" : ["José", "Eduardo"],
                "paterno" : "Pedroza",
                "materno" : "Rosales"
            } ,
            "telefonos" : {
                "casa" : "55-6632-4234",
                "trabajo":"55-443-3232" ,
                "celular":"044-55-234234"
            } ,
           "productos":{
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5 },
               "tarjetas":[
                            {"tipo":"debito" , "saldo" : 10000.5  },
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite": 15000.5 }
                ]
           },
           "direccion":{
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" :"Impulsora",
               "delegacion" :"neza",
               "estado" : {
                            "clave" : 15,
                           "nombre_corto":"EdoMex",
                           "nombre": "Estado de México"
                            }
           }

            }
print( cliente["telefonos"]["casa"] )
print(cliente)

55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}

### **11/11/21**

In [ ]:
edad= int(input("Dame tu edad:"))
print(f"Tecleaste {edad} años")
if edad >= 18:
  print("ERES MAYOR DE EDAD")
print("Fin del programa")

Dame tu edad:18
Tecleaste 18 años
ERES MAYOR DE EDAD
Fin del programa

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM= 0
MSUE= 0

if SUE < 1000:
  AUM = SUE* 0.15
  MSUE = SUE + AUM
  print(MSUE)

Escribe el sueldo: 825
948.75

### ***18/11/21***

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("¿Cuánto dinero tienes? "))

print(f"Tienes {edad} años y {dinero} pesos")

if edad >= 18 and dinero >= 36:
    print("Eres mayor de edad y tienes el dinero, toma tu cheve bro")
if edad >= 18 and dinero < 36:
    print("Eres mayor de edad pero no te alcanza pa la cheve")
else:
    print("Eres menor de edad, ten tu boing")

Dame tu edad: 15
¿Cuánto dinero tienes? 40
Tienes 15 años y 40.0 pesos
Eres menor de edad, ten tu boing

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 12
Cuanto dinero tienes: 20
Tecleaste 12 años
Tecleaste 20.0 dinero
No tienes la edad ni el dinero, ve a jugar roblox a tu casa

In [ ]:
CAL= float(input("Escribe tu calificiación: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

Escribe tu calificiación: 7
Reprobado

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
print(NSUE)

Escribe el sueldo: 1000
1120.0

In [ ]:
numero = int(input("Dame un valor del 1 al 7: "))
if numero == 1:
    print("Hoy es lunes")
elif numero == 2:
    print("Hoy es Martes")
elif numero == 3:
    print("Hoy es Miercoles")
elif numero == 4:
    print("Hoy es Jueves")
elif numero == 5:
    print("Hoy es viernes")
elif numero == 6:
    print("Hoy es Sabado")
elif numero == 7:
    print("Hoy es Domingo")
else:
    print("el valor no está en el parametro")

Dame un valor del 1 al 7: 7
Hoy es Domingo

In [ ]:
dia = int( input("Ingresa un numero entre 1 y 7:"))
print(f"Capturaste el numero { dia }")
 
if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("Miércoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("Sábado")
                        else:
                            print("Domingo")
 
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:8
Capturaste el numero 8
Ese numero no esta dentro del rango solicitado

In [1]:
NUM = int(input("Dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)

Dame un numero entre 1 y 3:2
Dame un valor float:2
10000.0

### ***23/11/21***

In [3]:
CATE = int(input("Introduce la categoria: ")) 
SUE = float(input("Introduce el sueldo: "))

if CATE == 1:
    SUE = SUE * 1.15; 
elif CATE == 2:
    SUE = SUE * 1.10; 
elif CATE == 3:
    SUE = SUE * 1.08; 
elif CATE == 4:
    SUE = SUE * 1.07;  

print(f"Categoria= { CATE }, Sueldo= { SUE}")

Introduce la categoria: 3
Introduce el sueldo: 3800
Categoria= 3, Sueldo= 4104.0

In [7]:
a=int(input("Dame un valor: "))
b=int(input("Dame otro valor: "))
c=int(input("Dame otro valor: "))
if a>b:
    if a>c:
        if b>c:
            print(f"{a}, {b}, {c}")
        else:
            print(f"{a}, {c}, {b}")
    else:
        print(f"{c}, {a}, {b}")
else:
    if b>c:
        if a>c:
            print(f"{b}, {a}, {c}")
        else:
            print(f"{b}, {c}, {a}")
    else:
        print(f"{c}, {b}, {a}")

Dame un valor: 9
Dame otro valor: 1
Dame otro valor: 3
9, 3, 1