<a href="https://colab.research.google.com/github/SergioSegura13/CyP/blob/main/Fundamentos4_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **02/11/21**

In [ ]:
#include <stdio.h>

int main()
{
    int valor = 0;
    printf("Dame un valor entero:");
    scanf("%i",&valor);
    while( valor != 0){
        printf("%i \n",valor);
        printf("Dame un valor entero:");
        scanf("%i",&valor);
    }
    printf("Fin del programa\n");
    return 0;
}

In [ ]:
def sumar (op1 , op2):
    res = op1 + op2
    return res

In [ ]:
res = sumar( 2, 5)
print(res)

7

In [ ]:
res = multiplicar(5,5)
print(res)

25

In [ ]:
def multiplicar( valor, veces):
    if valor == None:
        c=-1
    else:
            c = valor*veces
            return c

In [ ]:
def dividir(op1, op2):
    res = op1/op2
    return res

In [ ]:
num1=25
num2=5
res= dividir(num1, num2)
print(res)
res= dividir(num2, num1)
print(res)

5.0
0.2

In [ ]:
res= dividir(op2=num2, op1=num1)
print(res)

5.0

In [ ]:
def Letra_J(caracter):
    print(f"     {caracter}")
    print(f"     {caracter}")
    print(f"{caracter}    {caracter}")
    print(f"{caracter}{caracter}{caracter}{caracter}{caracter}")

In [ ]:
Letra_J("?")

     ?
     ?
?    ?
?????

### **09/12/21**

In [7]:
archivo = open("ejemplo1.txt", "wt")

for x in range( 10 ):
    if x % 2 == 0:
        archivo.write("HOLA MUNDO " + str(x) + "\n")
    else:
        archivo.write("Hola mundo " + str(x) + "\n")


cont = archivo.write("Otra cosa")
archivo.close()


# print("escritos: ", cont)


archivo1 = open("ejemplo1.txt", "rt")
datos = archivo1.read()

print("--> ",datos," <--")

-->  HOLA MUNDO 0
Hola mundo 1
HOLA MUNDO 2
Hola mundo 3
HOLA MUNDO 4
Hola mundo 5
HOLA MUNDO 6
Hola mundo 7
HOLA MUNDO 8
Hola mundo 9
Otra cosa  <--

In [9]:
archivo = open("ejemplo1.txt", "wt")
datos = archivo1.read()
separados = datos.split("\n")
print(separados)

for index in range( len(separados) ):
    if index % 2 == 0:
        print(separados[index].upper())
    else:
        print(separado[index].lower())

print("-->" + datos + "<--")

['']

--><--

In [12]:
archivo2 = open("ejemplo1.txt","rt")
for x in range(11):
    if x%2 == 0:
        print( archivo2.readline().upper() ,end=""  )
    else:
        print( archivo2.readline().lower() ,end="" )

In [13]:
archivo4 = open("ejemplo1.txt", "rt")
lineas = archivo4.readlines()
print(lineas)
for linea in lineas[: len(lineas)-1:]:
    for numero in linea.strip().split(","):
        print(numero.strip())

[]